body {
  font-family: "Noto Sans", sans-serif;
}

.title {
  margin: 4em 0 3em 0;
  text-align: -webkit-center
}

.updates small {
  margin-
}

.actions {
  display: block;
  text-align: -webkit-center;
  margin: 0em 0 2em 0;
}

.ibox-content {
    background-color: #FFFFFF;
    color: inherit;
    padding: 15px 20px 20px 20px;
    border-color: #E7EAEC;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 0;
}

.enable-anki {
    opacity: 0.7;
}

#search-results-list {
    padding-top: 1em;
}

.search-result:hover .show-on-hover {
    visibility: visible;
    transition: visibility 0s, opacity 0.5s linear;
    opacity: 1 !important;
}

.show-on-hover {
    visibility: hidden;
    transition: visibility 2s, opacity 0.25s linear;
    opacity: 0 !important;
}


.search-result .sentence-number {
    margin-right: 0.5em;
}

.search-result .anki-add {
    margin-left: 0.8rem;
}

.search-result .eng {
    margin-left: 0.5rem;
}

.report {
    width: 15px;
    height: 15px;
    display: inline-block;
    opacity: 0.5;
    background: url(img/report.svg);
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    margin-left: .5rem;
    float: right;
    margin-top: 5px; /* puts the icon in the middle */
}

.report:hover {
    opacity: 1;
}


.audioDownload {
    width: 15px;
    height: 15px;
    display: inline-block;
    opacity: 0.5;
    background: url(img/audio_download.svg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: .5rem;
}

.audioDownload:hover {
    opacity: 1
}

.audioButton {
  width: 15px;
  height: 15px;
  display: inline-block;
    margin-left: .5rem;
}

.audioButton:hover {
    opacity: 1
}

.audioIdle {
  opacity: 0.5;
  background: url(img/audio_idle.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.audioError {
  opacity: 0.5;
  background: url(img/audio_error.svg);
  background-size: contain;
  background-repeat: no-repeat;
}


.audioPlaying {
  opacity: 1;
  background: url(img/audio_playing.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.audioLoading {
  opacity: 0.7;
  background: url(img/audio_loading.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.search-form {
    margin-top: 10px;
}

#site-info {
  margin-top: 25px;
}

.search-result h3 {
    margin-bottom: 0;
    font-size: 20px;
    color: #1E0FBE;
}

.search-result .search-link {
    color: #006621;
}

.search-result p {
    font-size: 20px;
    margin-top: 5px;
}

.search-result span bld {
    color: #009c06; /* dark green */
}

.search-result small {
  color: gray;
}

.input-group.active {
  -webkit-box-shadow: 0 0 40px green;
     -moz-box-shadow: 0 0 40px green;
          box-shadow: 0 0 40px green;
}

.input-group {
   border: 1px solid transparent;
    -webkit-transition: border 0.4s linear, box-shadow 0.4s linear;
       -moz-transition: border 0.4s linear, box-shadow 0.4s linear;
            transition: border 0.4s linear, box-shadow 0.4s linear;
}

.resultType.vocab {
  color: #4abf50;
}

.resultType.dialog {
  color: #898989;
}

.hr-line-dashed {
    border-top: 1px dashed #E7EAEC;
    color: #ffffff;
    background-color: #ffffff;
    height: 1px;
    margin: 5px 0;
}

h2 {
    font-size: 24px;
    font-weight: 100;
}
